 <!-- Navigation -->
 <nav class="p-3 navbar navbar-custom fixed-top navbar-expand-lg" role="navigation">
    <a class="navbar-brand page-scroll" href="#page-top">
        <i class="fad fa-sun-haze"></i>  <span class="light">Autumn</span> Blaze
    </a>
    <button class="navbar-toggler navbar-dark navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-right collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link page-scroll" href="#about">Properties</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link page-scroll" href="#reservations">Reservations</a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link page-scroll" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>