<!-- Download Section -->
<section id="reservations" class="content-section">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8">
                <h2 class="mb-2">Request a Reservation</h2>
                <p>Call [insert phone number here] to request a reservation over the phone.</p>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="duration">Select which months you'd like to stay</label>
                            <select multiple class="form-control" id="duration">
                                {% assign thisMonth = 'now' | date: "%m" %}
                                {% assign currentYear = 'now' | date: "%Y" %}
                                {% for i in (0..23) %}
                                {% assign currentMonth = thisMonth | plus: i | modulo: 12 | plus: 1 %}
                                {% assign unformattedDate = currentYear | append:"-" | append: currentMonth %}
                                {% assign currentDate = unformattedDate | append:"-01" | date: "%B %Y" %}
                                <option {% if site.reservations contains unformattedDate %}disabled{% endif %}>{{
                                    currentDate }}</option>

                                {% if currentMonth == 12 %}
                                {% assign currentYear = currentYear | plus: 1 %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Adults</label>
                            <input type="number" class="form-control" value="1" max="6">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Children</label>
                            <input type="number" class="form-control" value="0" max="6">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-8">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="First Last" required>
                        </div>
                        <div class="form-group col-lg-8">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="example@autumnblaze.com"
                                required>
                        </div>
                        <div class="form-group col-lg-8">
                            <label for="phone">Phone Number</label>
                            <input type="tel" class="form-control" id="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                                required>
                        </div>
                    </div>
                    <div class="form-col">
                        <label class="pb-2">How would you prefer to be reached?</label><br>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Phone</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Email</label>
                        </div>
                    </div>
                    <div class="form-row mt-4">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" style="border-color:{{ site.color.primary-dark }};background-color:{{ site.color.primary-dark }}">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>