<!-- Download Section -->
<section id="reservations" class="content-section">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8">
                <h2 class="mb-2">Request a Reservation</h2>
                <p>Call [insert phone number here] to request a reservation over the phone.</p>
                <form action="https://formspree.io/f/mbjwggrd" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-4 pr-4">
                            <label for="duration">Select which months you'd like to stay</label>
                            <select name="Requested Dates" multiple class="form-control" id="duration">
                                {% assign thisMonth = 'now' | date: "%m" %}
                                {% assign currentYear = 'now' | date: "%Y" %}
                                {% for i in (0..23) %}
                                {% assign currentMonth = thisMonth | plus: i | modulo: 12 | plus: 1 %}
                                {% assign unformattedDate = currentYear | append:"-" | append: currentMonth %}
                                {% assign currentDate = unformattedDate | append:"-01" | date: "%B %Y" %}
                                <option {% if site.reservations contains unformattedDate %}disabled{% endif %}>{{
                                    currentDate }}</option>

                                {% if currentMonth == 12 %}
                                {% assign currentYear = currentYear | plus: 1 %}
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Number of Guests</label>
                            <input name="Number of Guests" type="number" class="form-control" value="1" max="6">
                        </div>
                    </div>
                    <div class="form-row">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-8">
                            <label>Name</label>
                            <input name="Name" type="text" class="form-control" placeholder="First Last" required>
                        </div>
                        <div class="form-group col-lg-8">
                            <label for="email">Email</label>
                            <input name="Email" type="email" class="form-control" id="email" placeholder="example@autumnblaze.com"
                                required>
                        </div>
                        <div class="form-group col-lg-8">
                            <label for="phone">Phone Number</label>
                            <input name="Phone Number" type="tel" class="form-control" id="phone"
                                required>
                        </div>
                    </div>
                    <div class="form-col pb-4">
                        <label class="pb-2">How would you prefer to be reached?</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Contact Preference" id="inlineRadio1" value="by phone">
                            <label class="form-check-label" for="inlineRadio1">Call me</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Contact Preference" id="inlineRadio2" value="by email">
                            <label class="form-check-label" for="inlineRadio2">Email me</label>
                        </div>
                    </div>
                    <div class="form-row form-group col-lg-8 p-0">
                        <label for="notes">Special Requests or Comments</label>
                        <textarea name="Comments" class="form-control" id="notes" rows="3"></textarea>
                    </div>
                    <div class="form-row mt-4">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" style="border-color:{{ site.color.primary-dark }};background-color:{{ site.color.primary-dark }}">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>